<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.biography %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> | <%= link_to 'Delete', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
