<div class="container-fluid">
    <h1>Instarails</h1>
    <img src="<%= asset_url('roxas.jpg') %>" class="img-fluid">
    <p>The second best photo sharing website!</p>
</div>
<div>
    <nav>
        <% if user_signed_in? %>
                <%= link_to 'Edit Account', edit_user_registration_path, method: :delete, class: 'btn btn-primary' %>        
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-light' %>        
        <% else %>
                <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
        <% end %>
    </nav>
</div>